<% if @cards.any? %>

  <div id="deck_ui">
    <%= render partial: "/cards/card" , locals: {card: @card }%>

    <div class="nav">
      <%= link_to_previous_page @cards, 'Previous' %>
      <%= link_to_next_page @cards, 'Next' %>
    </div>
  </div>

<% else %>
  <p>This deck has no cards.</p>
<% end %>

