
  <div id="deck_ui">
    <%= react_component('Player', {deck_id: @deck.id,
                                   cardIndex: @card_index,
                                   card: @card,
                                   numberOfCards: @cards.length},
                                   {prerender: true}) %>

    <div class="nav">
      <noscript>
      <% if @card_index > 0 %>
        <%= link_to "Previous", (player_path @deck, card: (@card_index - 1) ) %>
      <% end %>

      <% if @card_index + 1 < session[:cards].length %>
        <%= link_to "Next", (player_path @deck, card: (@card_index + 1) ) %>
      <% end %>

    </div>
  </div>


