<h2>Shared Decks</h2>

<p>These decks have been created by users of this site and can be easily added
to your account. Choose a deck to preview its cards and copy it to your account.</p>


<% if @decks.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Cards</th>
        <th>Last updated</th>
      </tr>
    </thead>

    <tbody>
      <% @decks.each do |deck| %>

        <tr>
          <td data-label="Deck name"><%= link_to deck.name, shared_deck_path(deck.slug) %></td>
          <td data-label="Number of cards"><%= deck.cards.count %></td>
          <td data-label="Last updated"><%= time_ago_in_words deck.updated_at %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>There are no decks shared.</p>
<% end %>
