# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b178c478a66e7a2e8e5a0a14b27a2c775e1834b2b2e9682e40be082d9e34e8611d0ddf407aafc72996cb0454f0e425f61882f09027b1dd89cf26b59865b55e9a
  FB_APP_ID: blah
  FB_APP_SECRET: blahblah
  TWITTER_APP_ID: blah
  TWITTER_APP_SECRET: blahblah

test:
  secret_key_base: b68610201dc8fd02db7c683f82a8a123187916ea4d866307b3a2aa81c892cbe79d040f67937467ae6d0f4d1c08fc12124fa6796edba9ecbd51806bc99477f08a
  FB_APP_ID: blah
  FB_APP_SECRET: blahblah
  TWITTER_APP_ID: blah
  TWITTER_APP_SECRET: blahblah

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  FB_APP_ID: <%= ENV["FB_APP_ID"] %>
  FB_APP_SECRET: <%= ENV["FB_APP_SECRET"] %>
  TWITTER_APP_ID: <%= ENV["TWITTER_APP_ID"] %>
  TWITTER_APP_SECRET: <%= ENV["TWITTER_APP_SECRET"] %>
