<p id="notice"><%= notice %></p>

<%= react_component('Card', @card, {prerender: true}) %>

<p>
  <%= link_to 'Edit this card', edit_deck_card_path(@deck, @card) %> |
  <%= link_to 'Back to the deck', deck_cards_path(@deck) %>
</p>
