#deck_ui {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
}

.player {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */

}

.card {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #ddd;
  padding: 1em;
  text-align: center;
  font-size: 24px;
  min-height: 400px;
  width: 100%;

  img {
    width: 100%;
    max-height: auto;

  }
}

.card_tiles {
  display: flex;
  flex-direction: column;

  .tile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media all and (min-width: 960px) {
  .card_tiles {
    flex-direction: row;

    .tile {
      width: 25%;
    }
  }
}
