#deck_ui {
  width: 960px;
  margin: auto;
}
.card {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #ddd;
  height: 240px;
  width: 320px;
  padding: 1em;
  text-align: center;
  font-size: 24px;
}
